<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LIS_Juego_Loterest.Properties.Settings.ConexionBaseDeDatos"
            connectionString="Data Source=DESKTOP-SJ3KI9G;Initial Catalog=JuegoLoterest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>